.vp-doc a {
  word-wrap: break-word;
}

body::after {
  content: '';
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 20;
  width: 0;
  background: url('/yuki.webp');
  background-size: cover;
}

@media screen and (min-width: 992px) {
  body::after {
    width: 200px;
    height: 212px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  body::after {
    width: 150px;
    height: 159px;
  }
}

@media screen and (max-width: 767.98px) {
  body::after {
    width: 80px;
    height: 85px;
  }
}