:root {
  --vp-c-brand-1: #386b65;
  --vp-c-brand-2: #2f5b56;
  --vp-c-brand-3: #386b65;
  --vp-c-brand-soft: rgba(56, 107, 101, 0.12);
}

.dark {
  --vp-c-brand-1: #8dc5ba;
  --vp-c-brand-2: #a7d6cd;
  --vp-c-brand-3: #386b65;
  --vp-c-brand-soft: rgba(141, 197, 186, 0.12);
}

.vp-doc a {
  overflow-wrap: anywhere;
}
